<nav class="navbar navbar-expand-lg navbar-light text-white bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Rental</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Tüm Arabalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-white" href="#">Action</a></li>
              <li><a class="dropdown-item text-white" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-white" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <li class="btn">
          <a class="nav-link" routerLink="login">Giriş</a>
      </li>
        <button 
        routerLink="/cart/"
        class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-shopping-cart"></i>
          Sepetim</button>
      </div>
    </div>
  </nav>
