<table  class="table" > 
    <thead>
      <tr>
        <th class="p-3 mb-2 bg-light text-dark">Renk Id&nbsp;&nbsp;</th>
        <th class="p-3 mb-2 bg-light text-dark">Renk Ismi&nbsp;&nbsp;</th>
      </tr>
    </thead>
    <tr 
    *ngFor="let color of colors"
    >
      <td class="p-3 mb-2 bg-light text-dark">&nbsp;{{ color.id }}</td>
      <td class="p-3 mb-2 bg-light text-dark">&nbsp;&nbsp;{{ color.colorName }}</td>
      <button 
      routerLink="/color/update/{{color.id}}"
    class="btn btn-danger"><span>Güncelle</span></button>
    </tr>
  </table> 
