<!-- <div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-striped" >
    <thead>
        <tr>
          <th>Araba İsmi</th>
          <th>Araba Markası</th>
          <th>Araba Rengi</th>
          <th>Günlük Ücret</th>
        </tr>
      </thead>
      <tr *ngFor="let car of cars">
        <td>{{ car.carName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.dailyPrice }}</td>
      </tr>
  </table>  -->

<!-- <table *ngIf="dataLoaded == true" class="table" > 
    <thead>
      <tr>
        <th class="p-3 mb-2 bg-light text-dark">Araba İsmi&nbsp;&nbsp;</th>
        <th class="p-3 mb-2 bg-info text-dark">Araba Markası&nbsp;&nbsp;</th>
        <th class="p-3 mb-2 bg-light text-dark">Araba Rengi</th>
        <th class="p-3 mb-2 bg-info text-dark">Günlük Ücret</th>
      </tr>
    </thead>
    <tr 
    *ngFor="let car of cars"
    >
      <td class="p-3 mb-2 bg-light text-dark">&nbsp;{{ car.carName }}</td>
      <td class="p-3 mb-2 bg-info text-dark">&nbsp;&nbsp;{{ car.brandName }}</td>
      <td class="p-3 mb-2 bg-light text-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ car.colorName }}</td>
      <td class="p-3 mb-2 bg-info text-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ car.dailyPrice }}</td>
      <button  routerLink="/cars/car-detail/{{car.carId}}" type="button" class="btn btn-primary">Detay</button>
    </tr>
  </table>   -->
<!--
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-dark table-striped">
  <thead class="table-dark">
    <caption
      (click)="setCurrentAllCar()"
      [class]="getCurrentAllCarClass()"
      routerLink="/cars"
      class="p-3 mb-2 bg-dark bg-gradient text-info bg-dark"
    >
      Car List
    </caption> 
    <tr>
      <th>Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Brand&nbsp;&nbsp;</th>
      <th>Color&nbsp;&nbsp;</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td class="p-3 mb-2 bg-dark text-white">&nbsp;{{ car.carId }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ car.brandName }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ car.colorName }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ car.modelYear }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ car.dailyPrice }} ₺</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ car.description }}</td>
    <td>
      <button
        routerLink="/cars/cardetail/{{ car.carId }}"
        style="text-align: right"
        class="btn btn-primary"
      > 
        Details
      </button>
    </td> 
    
    <a
      routerLink="/cars/cardetail/{{ car.carId }}"
      class="btn btn-dark text-center"
      >Details</a
    >
  </tr>
</table>

 div class="card-group">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
       routerLink="/cars/cardetail/{{ car.carId }}" 
      <div class="card-group">
        <div
          *ngFor="let carimage of carImages"
          class="card"
          style="width: 18rem"
        >
          <img
            src="https://localhost:44359{{ carimage.imagePath }}"
            class="card-img-top"
            alt="random"
          />
          <div *ngFor="let car of cars" class="card-body">
            <h5 class="card-title">{{ car.description }}</h5>
            <p class="card-text">{{ car.dailyPrice }} ₺</p>
            <button style="text-align: right" class="btn btn-primary">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- <div class="row ml-0 mr-0">
  <hr />
  <div class="d-grid gap-2 d-md-block">
    <button
      routerLink="/cars/customer"
      class="btn btn-danger btn-lg"
      type="button"
    >
      Müşteriler
    </button>
    <button
      routerLink="/cars/rental"
      class="btn btn-danger btn-lg"
      type="button"
    >
      Kiralama Bilgileri
    </button>
  </div>
 <hr>
  <div class="mb-3">
    <label
      for="filterText"
      class="form-label bg-dark text-white form-control-lg"
      >Araba Ara</label
    >
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control bg-light text-dark"
      id="filterText"
      placeholder="Aramak istediğiniz araba ismini giriniz"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-warning">
      {{filterText}} aradınız.
  </div>


  <div *ngFor="let car of cars | filterCarPipe:filterText" class="col-md-4 my-4">
    <div class="card text-white bg-dark mb-3" style="width: 100%">
      <img
        src="{{ carImageBasePath }}{{ getCarImage(car) }}"
        class="card-img-top"
        alt="Araba Resmi"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ car.carName }}</h5>
        <hr />
        <p><b>Marka :</b> {{ car.brandName | uppercase }}</p>
        <hr />
        <p><b>Model Yılı :</b> {{ car.modelYear }}</p>
        <hr />
        <p><b>Günlük Fiyatı :</b> {{ car.dailyPrice }}</p>
        <hr />
        <p><b>Renk :</b> {{ car.colorName }}</p>
        <hr />
        <div class="card-body d-grid gap-2 col-6 mx-auto">
          <button type="button" routerLink="/cardetail/{{ car.carId }}" class="btn btn-dark text-center" >
            Ayrıntılar
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div> -->

<div class="row ml-0 mr-0">
  <div class="col-md-6 mt-4">
    <div class="row">
      
      <div class="col-md-5">
        <select class="form-control form-select"  [(ngModel)]="brandId" >
          <option value="0" selected>Tüm Markalar</option>
          <option     
          [value]="brand.id" 
          *ngFor="let brand of brands" >{{brand.brandName}}</option>

        </select>
      </div>

      <div class="col-md-5">
        <select 
        (change)="classColorId(colorId)"
        [(ngModel)]="colorId"
        class="form-select form-control" >
          <option value="0" selected>Tüm Renkler</option>
          
          <option 
          [value]="color.id"
          *ngFor="let color of colors" >{{color.colorName}}</option>

        </select>
      </div>
      
      <div class="col-md-2 btn-get">
        <button 
        (click)="getCarById()"
        class="btn btn-success"
        >Getir</button>
      </div>

    </div>
  </div>
  <div class="col-md-6 mt-4 d-flex">
      <input type="text" [(ngModel)]="carNameFilter" placeholder="Araba Adı Ara" class="form-control">
      <button 
      routerLink="/car/add"
      class="btn btn-success"><span>Araba Ekle</span></button>
  </div>
</div>

<div class="row ml-0 mr-0">
  <div *ngFor="let car of cars | filterCarPipe:carNameFilter" class="col-md-4 my-4">
      <div  class="card" style="width: 100%;">
          <img src="{{carImageBasePath}}{{getCarImage(car)}}" class="card-img-top" alt="Araba Resmi">
          <div class="card-body">
            <h5 class="card-title text-center">{{car.carName}}</h5>
            <hr>
            <p> <b>Marka :</b> {{car.brandName}} </p>
            <hr>
            <p> <b>Model Yılı :</b> {{car.modelYear }} </p>
            <hr>
            <p> <b>Günlük Fiyatı :</b> {{car.dailyPrice | currency:'TRY':'₺ ': '3.0'}} </p>
            <hr>
            <p> <b>Renk :</b> {{car.colorName}} </p>
            <hr>
            <span class="buton-space">
                <a routerLink="/cars/detail/{{car.carId}}" class="btn btn-outline-dark mt-2">Detay</a>
                <!-- <a routerLink="/rental/add/{{car.id}}" class="btn btn-outline-success mt-2">Kirala</a> -->
               <a routerLink="/cars/update/{{car.carId}}" class="btn btn-outline-primary mt-2">Güncelle</a> 
            </span> 
          </div> 
        </div>
  </div>
</div>
